<!-- <p>heroes works!</p> -->
<h2>heros-componet starts here</h2>
<!--
<h3>- First step</h3>
<h4>{{hero.name | uppercase}} Details</h4>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name of the hero"/>
  </label>
</div>
 -->

<h2>My Heroes</h2>
<div class="container">

    <ul class="heroes">
      <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> <span>{{hero.name}}</span>
      </li>
    </ul>

    <app-hero-detail [hero]="selectedHero"></app-hero-detail>

</div>
